/* primary color bg #F0EEE9; font color #595959; 
secondary colors orange #E3A67A; yellow #F5DBB8; blush #F8EAE2; blue #CAD1DB */

* {
  box-sizing: border-box;
}

 body {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    font-weight: 300; 
    line-height: 1.6; 
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width: 100%;
  }
  
  a {
    color: #E3A67A;
    text-decoration: none;
  }

  a:visited { 
    color: #6e22a9;
  }

  a:hover {
    color: #595959;
    text-decoration: underline;
  }

  a:active { 
    color: #E3A67A;
  }

  a:hover,
  a:focus {
  color: #E3A67A;
  text-decoration: underline;
}

.button {
  display: inline-block; 
  background-color: #E3A67A;
  color: #ffffff; 
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #d2d2d2; 
  transition: 0.2s opacity;
}

.button:hover {
  display: inline-block; 
  background-color: #E3A67A;
  color: #ffffff; 
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #d2d2d2; 
  transition: 0.2s opacity;
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #E3A67A;
  text-transform: uppercase;
  border: 2px solid #E3A67A;
}

.button.contact:hover {
  background-color: #E3A67A;
  color: #ffffff;
}

/* Layout Styling */

header {
  text-align: center;
  padding: 0;
  position: fixed;
  width: 100%;
}

.css-box-shadow {
  width: [object Object]px; 
  height: [object Object]px; 
  background: #ffffff; 
  border: solid #5d5c5c 1px; 
  box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.1); 
  -webkit-box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.1); 
  -moz-box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.1); 
}

.container {
  background-color: #ffffff;
  padding: 0 15px;
}

.logo {
  padding: 15px;
  max-width: 115px;
}

nav {
  background-color: #F0EEE9;
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #E3A67A;
}

.row {
  margin: 25px 0;
}

#intro .row { 
  padding-bottom: 25px; 
  border-bottom: 1px solid #4a4a4a; 
}

.copyright {
  text-align: center;
}

main {
  padding-top: 150px;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  background-color: #F0EEE9;
}

#hero h1 {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}

#hero p {
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

/* work */

.work {
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}

.getintouch {
  background-color: #F0EEE9;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}

/* about */

.about {
  background-color: #F0EEE9;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}

/* work balibago project */

.bgcolor {
  background-color: #F0EEE9;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}

.main {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
}

